<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<form action={{ url_for('login') }} method="post">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <label for="password">Password: </label>
  <input class="text-1" type="password" id="password" name="password"><br>
  <label for="password">Confirm password: </label>
  <input class="text-1" type="password" id="password" name="password"><br><br><br>
  <input class="button-36" type="submit" value="Register">
</form>
</body>
</html>