<html>
<body>
<h1>Hello {{ username }}!</h1>

<form action={{ url_for('render') }} method="post">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <label for="markdown">Input a new note:</label><br><br>
  <textarea id="markdown" name="markdown" rows="20" cols="100"></textarea>
  <br>
  <br>
  <label for="protect">Tick the box to protect your note:  </label>
  <input type="checkbox" id="protect" name="protect">
  <br>
  <br>
  <label for="key">Provide the encryption if you ticked the box: </label><br><br>
  <input type="text" id="key" name="key">
  <br>
  <br>
  <input type="submit" value="Save note">
</form>

{% if notes|length > 0 %}
<h1> Your notes: </h1>
<ul>
{% for note in notes %}
  <li>
    <form action={{ url_for('hello') }} method="post">
      <em>Author: {{note[4]}} Created: {{note[3]}}</em>
      <a href="{{ url_for('render') }}/{{note.0}}"> Note {{ loop.index }}</a>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <input type="hidden" id="note_id" name="note_id" value={{note[0]}}>
      {% if note[1] == 0 %}
        <input type="submit" id="submit_publish" name="submit_publish" value="Publish">
      {% elif note[1] == 1 %}
        <input type="submit" id="submit_unpublish" name="submit_unpublish" value="Unpublish">
      {% endif %}
    </form>
  </li>
{% endfor %}
</ul>

{% endif %}


<form action={{ url_for('logout') }}>
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <input type="submit" value="Log out" />
</form>
</body>
</html>