<html>
<body>
<form action={{ url_for('new_password') }} method="post">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <label for="username">Username: </label>
  <input type="text" id="username" name="username"><br>
  <label for="email">Email adress: </label>
  <input type="email" id="email" name="email"><br>
  <input type="submit" value="Get a new password">
</form>

<form action={{ url_for('login') }}>
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <input type="submit" value="Go back" />
</form>

</body>
</html>